<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beth and Daven!</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link href='http://fonts.googleapis.com/css?family=Merriweather:400,400italic,700,700italic|Noticia+Text:400,700,400italic|Montserrat:400,700|Raleway:400,300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/static/styles/wedding.css">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    </head>
    <body class="{% block body_class %}{{body_class}}{% endblock %}">
        <div id="main">
            <div id="layout">
                <header>
                    <div class="title-block">
                        <h1 id="site-title">
                            <a href="/wedding/">
                                {% include "wedding/logo.svg" %}
                            </a>
                        </h1>
                    </div>
                    <ul id="nav">
                      <li><a href="/wedding/">Context</a></li>
                      <li><a href="/wedding/details/">Details</a></li>
                      <li><a href="/wedding/rsvp/">RSVP</a></li>
                    </ul>
                </header>
                <div id="content">
                    {% block content %}{% endblock %}
                </div>
            </div>
            <div id="main-footer"></div>
        </div>
        <footer id="footer" class="row">
            <p>Site designed by with love by <a href="/">the groom</a>.
        </footer>
        <div id=background-container><div></div></div>
        {% block scripts %}
        <script src="/static/scripts/wedding.min.js"></script>
        {% endblock %}
    </body>
</html>
