{% extends "wedding/base.html" %}
{% block content %}
    <h2>Ceremony and reception</h2>

    <p>We are getting married at the Matthews House in downtown Cary. The reception will follow at the same location. The ceremony will begin promptly at 4:00 pm and will last approximately a half hour. The reception will begin at 5:30 with cocktails and appetizers served in the interim.</p>
    <p class="address">The Matthews House<br/>317 W Chatham Street<br/>Cary, NC 27511</p>

    <h2>Where to stay</h2>
    We have booked a block of rooms at the Homewood Suites in Cary. They offer complimentary breakfast, internet, and shuttle rides within 3 miles of the hotel which includes the Matthews House. We have arranged for rides to the venue and back from the hotel on our wedding day. Please book before September 9th to receive the discounted group rate.
    <a href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CRYHSHW-SQW-20141009/index.jhtml" class="button">Book Now</a>

    <h2>Registry</h2>
    <p>If you'd like to purchase a gift, we hope that the below registries will make it convenient for you to select something that suits our peculiar tastes.</p>
    <div class="registries">
        <a target="_blank" href="http://www.amazon.com/registry/wedding/2ZUL03MLD3V04" class="amazon">Amazon</a>
        <a target="_blank" href="http://www.amazon.com/registry/wedding/2ZUL03MLD3V04" class="bedbathbeyond">Bed, Bath, &amp; Beyond</a>
    </div>
{% endblock %}
