{% extends "wedding/base.html" %}
{% block content %}
    <div class=headline>
        <h3 class=date>Saturday, October 11, 2014</h3>
        <h3 class=location>Cary, North Carolina</h3>
    </div>

    <h2>Ceremony and reception</h2>

    <p>Our wedding ceremony and reception are both at the <em>Matthews House</em> in downtown Cary. The ceremony will begin at 4:00 pm and will last approximately half an hour. The reception will follow shortly thereafter and last until approximately 10 pm.</p>
    <p class="address">The Matthews House<br/>317 W Chatham Street<br/>Cary, NC 27511</p>

    <h2>Where to stay</h2>
    <p>We have booked a block of rooms at the Homewood Suites in Cary.
    It's convenient to the airport (Raleigh-Durham), the highway, and the wedding location.
    They offer complimentary breakfast, internet, and shuttle rides
    within 3 miles of the hotel (this includes the Matthews House). We have arranged for rides to the venue and back from the hotel on our wedding day. Please book before September 9th to receive the discounted group rate.

    <p class="address">100 Macalyson Ct.<br/>Cary, NC 27511</p>


    <p class=center>
        <a class=button target=_blank href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CRYHSHW-SQW-20141009/index.jhtml" class="button">Book Now</a>
    </p>
    <h2>Registry</h2>
    <p>We're really happy just to have the opportunity to celebrate with you.
        But if you'd like to purchase a gift, we hope that the below
        registries will make it easier for you to select something
        that suits our (sometimes peculiar) tastes.</p>
    <div class="registries">
        <a target="_blank" href="http://www.amazon.com/registry/wedding/3DPSM3J4ZEVTU" class="amazon">Amazon</a>
        <a target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541034016" class="bedbathbeyond">Bed, Bath, &amp; Beyond</a>
    </div>
{% endblock %}
