{% extends "wedding/base.html" %}

{% block content %}
<img src="/static/images/wedding/photos/portrait.jpg" alt="Portrait of Beth and Daven" />
<h2>Beth Sams and Daven Quinn are getting married!</h2>
<p>It's happening on
    <span class="date">October 11, 2014</span> in
    <span class="location">Cary, North Carolina</span>.
</p>
<p>We're really happy about this. That's not surprising. You should be too!</p>
<ul class=buttons>
    <li><a>Get some context</a></li>
    <li><a>Respond to the invite</a></li>
    <li><a>Wish us well</a></li>
</ul>
{% endblock %}
