{% from 'wedding/macros.html' import render_field %}

{% with messages = get_flashed_messages(with_categories=True) %}
  {% if messages %}
    <ul class=flashes>
    {% for category, message in messages %}
      <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if form %}
<form method="POST" action="/wedding/rsvp/">
    {{ form.csrf_token }}
    <dl>
        {{ render_field(form.name) }}
        {{ render_field(form.email) }}
        {{ render_field(form.number) }}
        {{ render_field(form.message) }}
        {{ render_field(form.factoid) }}
    </dl>
    <p>{{ form.submit }}</p>
</form>
{% endif %}
