{% from "wedding/macros.html" import nav_link %}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Beth and Daven!</title>
        <meta name="description" content="">
        <meta id="view" name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Noticia+Text:400,700,400italic|Raleway:400,300,500' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{url_for('wedding.static',filename='wedding.css')}}">
        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?{% if config.GOOGLE_MAPS_KEY -%}
           key={{ config.GOOGLE_MAPS_KEY }}&{% endif %}sensor=false"></script>
    </head>
    <body class="{% block body_class %}{{body_class}}{% endblock %}">
        <div id="main">
            <div id="layout">
                <header>
                    <div class="title-block">
                        <h1 id="site-title">
                            <a href="/wedding/">
                                {% include "wedding/logo.svg" %}
                            </a>
                        </h1>
                    </div>
                    <h2 class=subtitle>
                        <span class=date>Saturday, October 11, 2014</span>
                        <span class=sep> &middot; </span>
                        <span class=location>Cary, North Carolina</span>
                    </h2>
                    <ul id="nav">
                      {{ nav_link("wedding.story", "Story") }}
                      {{ nav_link("wedding.details","Details") }}
                      {{ nav_link("wedding.rsvp","RSVP") }}
                    </ul>
                </header>
                <div id="content">
                  {% block content %}{% endblock %}
                </div>
            </div>
            <div id="main-footer"></div>
        </div>
        <footer id="footer" class="row">
            <p>Site designed by with love by <a href="/">the groom</a>.
        </footer>
        {% block scripts %}
        <script src="{{url_for('wedding.static',filename='wedding.js')}}"></script>
        {% endblock %}
        {% include "analytics.html" ignore missing %}
    </body>
</html>
