{% extends "wedding/base.html" %}
{% block content %}
    <h2>Ceremony and reception</h2>
    <p>Our wedding ceremony and reception are both at the <strong>Matthews House</strong> in downtown Cary. The ceremony will begin at 4:30 pm and will last approximately half an hour. The reception will follow shortly thereafter and last until approximately 10 pm.</p>
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/The+Matthews+House/@35.7808314,-78.7852258,12z/">
            <p class=address>The Matthews House<br/>317 W Chatham Street<br/>Cary, NC 27511</p>
        </a>
        <div class=map>[35.786884, -78.786215]</div>
    </div>
    <h2>Where to stay</h2>
    <p>We have reserved a block of rooms at a discounted rate at the <strong>Homewood Inn &amp; Suites</strong> in southeast Cary.
    It's about 12 miles from the Raleigh-Durham International Airport and convenient to the downtowns of Raleigh and Cary.
    The hotel offers complimentary breakfast, internet, and shuttle rides to locations
    within a three-mile radius. We have arranged for rides between the Matthews House and the hotel on our wedding day.
    <div class=location>
        <a class=left target=_blank href="https://www.google.com/maps/place/Homewood+Suites+by+Hilton+Raleigh%2FCary/@35.737533,-78.8407849,12z/">
            <p class=address>Homewood Suites<br />100 MacAlyson Ct.<br/>Cary, NC 27511</p>
        </a>
        <div class=map>[35.734667, -78.801417]</div>
    </div>
    <p>Please book before September 9th to receive the discounted group rate.</p>
    <p class=center>
        <a class=button target=_blank href="http://homewoodsuites.hilton.com/en/hw/groups/personalized/C/CRYHSHW-SQW-20141009/index.jhtml" class="button">Book Now</a>
    </p>
    <h2>Registry</h2>
    <p>We're really happy just to have the opportunity to celebrate with you.
        But if you'd like to purchase a gift, we hope that the below
        registries will make it easier for you to select something
        that suits our (sometimes peculiar) tastes.</p>
    <div class="registries">
        <a target="_blank" href="http://www.amazon.com/registry/wedding/3DPSM3J4ZEVTU" class="amazon">Amazon</a>
        <a target="_blank" href="http://www.bedbathandbeyond.com/store/giftregistry/view_registry_guest.jsp?pwsToken=&eventType=Wedding&registryId=541034016" class="bedbathbeyond">Bed, Bath, &amp; Beyond</a>
    </div>
{% endblock %}
