{% macro render_field(field, kwargs={}) %}
    <div class="form-group {{ field.name }}">
        {{ field.label }}
        {{ field(**kwargs) | safe }}
        {% if field.errors %}
        {% for error in field.errors %}
        <p class=error>{{ error }}</p>
        {% endfor %}
        {% endif %}
        {% if field.description %}
        <p class=description>{{ field.description }}</span>
        {% endif %}
    </div>
{% endmacro %}

{% macro nav_link(endpoint, name) %}
    <li {% if request.endpoint == endpoint %} class="active" {% endif %}>
        <a href="{{ url_for(endpoint) }}">{{ name }}</a>
    </li>
{% endmacro %}
