{% extends "wedding/base.html" %}

{% set path = url_for('.static',filename='images/photos') %} {% block content
%}

<p class=drop>Our journey together began in September 2007, just a few weeks
into our freshman year at <span class=blue>UNC Chapel Hill</span>. In the
course of exploring how to use their Monday evenings in this new college
setting, both of them ended up in the same swing-dancing class. Beth was a
confident dancer trying out a new variety. Daven also wanted to try something
new, but he was completely out of his element.</p>

<p>The lesson took place in a repurposed physics classroom. Since there was a
large surplus of girls, the boys rotated around the room to dance with
different partners. The class went through two rotations so Daven and Beth
danced together twice &mdash; but only for about two minutes total. Still,
something about Beth caught Daven's eye. It was definitely not just her <span
class=purple>purple shirt</span> (although that of course helped). By the end
of the first meeting, he was planning ahead to the second. Somehow he managed
to make a good impression despite his awful dancing.</p>

<p>Daven went back to swing-dancing class the next two Mondays, in large part
hoping to meet this purple-shirt girl again. He talked to her after the second
class (!) and walked back to the dorms with her after the third. Daven
awkwardly asked for her number and was freed from making a fool of himself
weekly. In October and November, they went on many long, late-night walks
around UNC's campus and basically fell quickly in love.</p>

<div class=image>
  <img src="{{ path }}/portrait.jpg" />
</div>

<p>Beth and Daven dated for the remainder of college. Daven bounced around in
every direction, picking up a geology major and riding his bicycle everywhere.
Beth was much more focused, studing computer and information science and
continuing to dance. After graduating in 2011, they accompanied each other on a
series of adventures as they figured out what their future had in store.</p>

<p class=drop>After a busy 2012, Daven was prepared. He found a setting with
<span class=green>emeralds</span> (to match Beth's eyes and favorite color) and
bought a diamond to fit. Daven arranged a (fictitious) appointment in Chapel
Hill on Friday, August 31st, 2012, and they decided to get dinner near
campus.</p>

<div class="image-row">
  <img width=415 src="{{ path }}/proposal.jpg" />
  <img width=225 src="{{ path }}/proposal-vertical.jpg" />
</div>

<p>Daven's plan was modest, but he was still really worried that it wouldn't
work. Luckily though, Beth parked on the right side of campus and agreed to
take off her sunglasses even though that seemed like a pretty odd request (it
was bright that evening). Daven surprised Beth at the very spot where they
first kissed almost five years earlier. And she said yes!</p>

<div class="image right"> <img width=300 src="{{ path }}/daven-beth-california.jpg"> </div>

<p class=drop>Since their engagement, the pace of life continues to increase.
Daven moved to Pasadena, California for graduate school at Caltech, and Beth
moved to the west coast soon afterwards. They're soaking up the southern
California sun while their prospects for the future continue to broaden. But
whatever they end up doing and wherever they do it, they'll definitely be in it
together.</p>

{% endblock %}
