{% extends "base.html" %}

{% block scripts %}
<script src="/static/lib/requirejs/require.js"></script>
<script>
    require(["/static/scripts/config.js"],function(){
        require(["wedding"])
    });
</script>
{% endblock %}

{% block body_class %}wedding{% endblock %}

{% block header %}
<header class="header">
  <h1 id="site-title"><a href="/">Daven<br /><span class="wider">Quinn</span></a></h1>
  <i class="fa fa-heart"></i>
  <h1 id="beth"><span class="widerer">Beth</span><br/>Sams</h1>
  <ul class="nav nav-pills pull-right">
    <li><a href="rsvp/">RSVP</a></li>
    <li><a href="registry/">Registry</a></li>
  </ul>
</header>
{% endblock %}

{% block content %}
<h1>October 11, 2014</h1>
<p>Please give us cash or donate to the NASCAR Fans Support Project.</p>
{% endblock %}
