// Colors
$dark-green:       #8ebc9b;
//                 #93cda6;
//                 #92cd8e;
$medium-green:     #9ad093;
//                 #a9d6a2;
$light-green:      #aed9a8;
$dark-purple:      #5d3393;
$medium-purple:    #7d6aaa;
//                 #8067ad;
//                 #8c7fb2;
$lighter-purple:   #9b8ac1;
//                 #9a8cbd;
//                 #b4a9d2;
$light-purple:     #b3aacd;
//                 #8ca3ce;
$steel-blue:       #7892c5;
//                 #799ecc;
//                 #87badb;
$light-blue:       #72c4e6;
//                 #6ec0e6;
//                 #78cfed;
//                 #89d6f0;
//                 #90d5e9;
//                 #89cde4;
$turquoise:        #93d9f2;
//                 #a2ddf2;
//                 #b4d7eb;
//                 #b7e3f1;
$blue-white:       #b8e4fa;
//                 #bde6fb;
//                 #bce5f2;
//                 #b5d7f2;
//                 #badb98;
//                 #bfdd9d;
//                 #a2d398;
